<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Appenders -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="fileGeneral" class="ch.qos.logback.core.FileAppender">
        <file>logs/webCrawler.log</file>

        <encoder>
            <!--<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="fileActors" class="ch.qos.logback.core.FileAppender">
        <file>logs/webCrawlerActors.log</file>

        <encoder>
            <!--<pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</pattern>-->
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Loggers -->
    <logger name="com.en_workshop.webcrawlerakka.akka" additivity="false">
        <appender-ref ref="fileActors"/>
    </logger>

    <logger name="org.apache.http" level="error"/>
    <logger name="httpclient.wire" level="error"/>

    <!-- Root -->
    <root level="debug">
        <appender-ref ref="console"/>
        <appender-ref ref="fileGeneral"/>
    </root>
</configuration>