
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <title>Simple Tab Controls in AngularJS - jsFiddle demo</title>
  
  <script type='text/javascript' src='angular-1.2.0/angular.min.js'></script>
  <script type="text/javascript" src="script/styleswitcher.js"></script>
  <script type='text/javascript' src='script/index.js'></script>
  
  <link rel='stylesheet' type='text/css' href='style/black-white.css'></style>
  <link rel='alernate stylesheet' type='text/css' href='style/endava-style.css' title='endava standard' />
  
</head>
<body>
  <div ng-app="TabsApp">
    <div id="tabs" ng-controller="TabsCtrl">
        <ul>
            <li ng-repeat="tab in tabs" 
                ng-class="{active:isActiveTab(tab.url)}" 
                ng-click="onClickTab(tab)">{{tab.title}}</li>
        </ul>
        <div id="mainView">
            <div ng-include="currentTab"></div>
        </div>
    </div>
    <script type="text/ng-template" id="one.tpl.html">
		<div id="viewOne">
			<h1>Web Crawler</h1>
			<div class="buttonsSection">
				<input style="display:block;" type="button" id="startCrawlingButton" value="Start Crawling" onclick="startCrawling()"/>
				<input style="display:none;" type="button" id="pauseCrawlingButton" value="Pause Crawling" onclick="pauseCrawling()"/>
				<input style="display:none;" type="button" id="resumeCrawlingButton" value="Resume Crawling" onclick="startCrawling()"/>
			</div>
			<p style="font-weight:bold;">Live info:</br>
			<div id="crawlerFeedbackDiv"/>
		</div>
	</script>
	
	<script type="text/ng-template" id="two.tpl.html">
		<div id="viewTwo">
			<h1>Zip Password Breaker</h1>
			<p>TODO</p>
		</div>
	</script>
	
	<script type="text/ng-template" id="three.tpl.html">
		<div id="viewThree">
			<h1>Change style</h1>
			<input style="width:200px;" type="button" value="Black - White" onclick="setActiveStyleSheet('default'); "/>
			<br/><br/>
			<input style="width:200px;" type="button" value="Endava Style" onclick="setActiveStyleSheet('endava standard'); "/>
			<br/><br/>
		</div>
	</script>
</div>
  

<script type='text/javascript' src='script/index-afterBody.js'></script>
</body>


</html>

